.flex-container {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.card {
  text-align: center;
  width: 300px;
  height: 300px;
  padding: 20px;
  border: 1px solid #000;
}
.table {
  width: 50%;
}
.flexCont {
  display: flex;
  justify-content: space-around;
}
.table {
  text-align: center;
  width: 300px;
  height: 300px;
  /* padding: 20px; */
  border: 1px solid #000;
}
